<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Paweł Dziuba, Mikołaj Bębenek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GeoPic 🌍📸</title>

    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="src/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-storage-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-auth-compat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous" defer></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script type="module" src="src/js/app.js" defer></script>
  </head>

  <body>
    <div id="app" class="container py-4">
      <div class="row">
        <div class="col-auto">
          <img src="assets/android-chrome-512x512.png" alt="GeoPic Logo" width="64" height="64">
        </div>

        <div class="col mb-5">
          <h1>GeoPic 🌍📸</h1>
          <p class="lead">Udostępniaj zdjęcia z lokalizacją GPS!</p>
        </div>

        <!-- Login -->
        <div class="col d-flex justify-content-end mb-3">
          <button v-if="!user" class="btn btn-outline-primary btn mb-5" @click="login">
            Zaloguj przez Google aby </br>
            dodawać, komentować i lajkować zdjęcia!
          </button>

          <div v-else class="d-flex align-items-center gap-2">
            <img :src="user.photoURL" width="32" height="32" style="border-radius:50%">
            <span>{{ user.displayName }}</span>
            <button class="btn btn-outline-danger btn-sm" @click="logout">
              Wyloguj
            </button>
          </div>
        </div>
      </div>

      <div class="alert alert-info" role="alert">
        Aplikacja jest w fazie rozwoju, więc mogą wystąpić błędy. Jeśli masz pomysł na funkcję lub znalazłeś błąd, zgłoś to na <a href="https://github.com/xdziuba/geopic" target="_blank">stronie projektu</a>.
      </div>

      <!-- Alert box -->
      <div v-if="alert"
          class="position-fixed top-0 start-50 translate-middle-x p-3"
          style="z-index: 9999; width: 100%; max-width: 500px;">

        <div class="alert alert-dismissible fade show"
            :class="'alert-' + alert.type">

          {{ alert.message }}

          <button type="button"
                  class="btn-close"
                  @click="alert = null">
          </button>
        </div>

      </div>

      <!-- New post form -->
      <div class="card p-3 mb-4">
        <h2 class="mb-3">Nowy post:</h2>
        <input type="file" @change="handleFile" class="form-control mb-2" accept="image/*" capture="environment"/>
        <input type="text" v-model="description" class="form-control mb-2" placeholder="Opis...">
        <button class="btn btn-primary" @click="addPost">Dodaj zdjęcie</button>
      </div>

      <!-- Posts -->
      <div class="card p-3 mb-4">
          <h2 class="mb-3">Feed:</h2>
      
        <div v-for="(post, index) in posts" :key="index" class="card mb-3">

          <div :id="'carousel-' + index" class="carousel slide" data-bs-interval="false">
            
            <div class="carousel-inner">

              <!-- SLIDE 1 - photo -->
              <div class="carousel-item active">
                <img :src="post.imageUrl" class="d-block w-100" style="height: 500px;" alt="Zdjęcie">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ post.locationName }}</h5>
                  <p>{{ formatDate(post.createdAt) }}</p>
                </div>
              </div>

              <!-- SLIDE 2 - map -->
              <div class="carousel-item">
                <div :id="'map-' + index" style="height: 500px; width: 100%;"></div>
              </div>

            </div>

            <!-- Controls -->
            <button class="carousel-control-prev" type="button"
              :data-bs-target="'#carousel-' + index"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button"
              :data-bs-target="'#carousel-' + index"
              data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>

          <!-- Post content -->
          <div class="card-body row">
            <div class="col-md-6">
              <div class="d-flex align-items-center gap-2 mb-2">
                <img :src="post.userPhoto" width="30" height="30" style="border-radius:50%">
                <strong>{{ post.userName }}</strong>
              </div>
              <p>💬 {{ post.description }}</p>
            </div>

            <div class="col d-flex justify-content-end mb-3">
              <div class="d-flex align-items-center gap-2 mt-2">
                <button class="btn btn-sm"
                        :class="post.likedByUser ? 'btn-danger' : 'btn-outline-danger'"
                        @click="toggleLike(post)">
                  ❤️
                </button>
                <span>{{ post.likesCount }} polubień</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>